@import "../../styles/vars";

.pagination {
  list-style: none;
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  border-top: 2px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  .hidden {
    display: none;
  }

  li {
    font-size: 1rem;
    border: 1px solid #ccc;
    min-width: 1.5rem;
    height: 1.5rem;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  p {
    margin-left: 1rem;
    .page {
      color: var(--color-danger);
    }
  }
  .active {
    background-color: $color_darker-grey;
    color: #fff;
  }
}
