@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
$font-jomolhari: 'Jomolhari';
$font-inter: 'Inter';
$grey-color: #D9D9D9;
$cubic: cubic-bezier(0.4, 0.01, 0.165, 0.99);