@import '../../styles/vars';
@import '../../styles/mixins';

.flipIn {
  animation: flipDown 0.5s ease both;
}

.filter__priceStock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 20px;

  .stock,
  .price {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    span {
      font-size: 20px;
    }
  }
  .noUi-target {
    height: 5px;
    border: 0;
    cursor: pointer;
    border-radius: 5px;

    .noUi-base {
      background: lightgrey;
      .noUi-connects {
        background: $color_darker-grey;
      }
    }
    .noUi-tooltip {
      font-size: 12px;
      padding: 2px;
      border: 0;
      background: transparent;
    }
  }
  .noUi-horizontal .noUi-handle {
    top: -6px;
    right: -12px;
    width: 20px;
    height: 20px;
    background: $color_middle-grey;
    border: 2px solid $color_darker-grey;
    border-radius: 50%;
    box-shadow: unset;
    cursor: pointer;
    transition: transform 0.1s;

    &:before,
    &:after {
      content: none;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.filter-dropdown {
  display: flex;
  flex-direction: column;
  gap: 35px;
  .dropdown {
    position: relative;
    @extend .flipIn;

    &:after {
      content: '';
      position: absolute;
      bottom: -5px;
      width: 100%;
      border-bottom: 2px solid black;
    }

    .btn__dropdown {
      position: relative;
      display: block;
      @include hover-style(grey);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
      transition: all 0.2s ease-in-out;
      padding: 10px;
      font-size: 20px;
      font-weight: bold;
    }

    &-menu {
      max-height: 0;
      overflow: hidden;
      li {
        display: flex;
        justify-content: space-between;
        padding: 7px;
        text-shadow: 0 -1px 0 rgb(255 255 255 / 30%);
        box-shadow: 0 1px 0 white inset, 0 -1px 0 #d5d5d5 inset;

        &:hover {
          background: #f6f6f6;
        }
        label {
          text-transform: capitalize;
          width: 100%;
        }
      }
      &.show,
      &.hide {
        transform-origin: 50% 0%;
      }

      &.show {
        display: block;
        max-height: 11rem;
        overflow-y: auto;
        transform: scaleY(1);
        @include animation(showAnimation 0.5s ease-in-out);
        transition: max-height 1s ease-in-out;

        &::-webkit-scrollbar {
          width: 5px;
          height: 10px;
        }
        &::-webkit-scrollbar-track {
          background-color: transparent;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $color_darker-grey;
          border-radius: 1rem;
        }
      }

      &.hide {
        max-height: 0;
        transform: scaleY(0);
        @include animation(hideAnimation 0.4s ease-out);
        transition: max-height 0.6s ease-out;
      }
    }

    button {
      position: absolute;
      cursor: pointer;
      width: 100%;
      height: 100%;
      outline: none;
      border: 0;
      background: $color_standart-grey;
      text-align: left;

      .arrow {
        position: absolute;
        transform: translate(-6px, 0);
        margin-top: 5px;
        right: 5px;
        &::before,
        &::after {
          content: '';
          position: absolute;
          background-color: black;
          width: 3px;
          height: 9px;
          transition: all 0.25s ease-in-out;
        }

        &::before {
          transform: translate(2px, 0) rotate(45deg);
        }

        &::after {
          transform: translate(-2px, 0) rotate(-45deg);
        }
        &.active {
          &::before {
            transform: translate(-2px, 0) rotate(45deg);
          }

          &::after {
            transform: translate(2px, 0) rotate(-45deg);
          }
        }
      }
    }
  }
}

.filter__buttons {
  margin-top: 35px;
  display: flex;
  justify-content: space-between;
  gap: 10px;

  .filter__btn {
    @include btn-standart;
  }
}
.additional-checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  & label {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    & input {
      margin-left: 15px;
    }
  }
}
.menu-item-standart {
  margin-right: 5px;
  color: $color_primary;
}
.menu-item-disabled {
  margin-right: 5px;
  color: $color_darker-grey-alt;
}
