@import '../../styles/vars';
@import '../../styles/mixins';

.search {
  display: inline-block;
  position: relative;
  height: 25px;
  width: 25px;
  box-sizing: border-box;
  margin: 0px 8px 7px 0px;
  padding: 1px 9px 0px 9px;
  border: 3px solid $color_darker-grey;
  border-radius: 25px;
  transition: all 200ms ease;
  cursor: text;

  &:after {
    content: "";
    position: absolute;
    width: 3px;
    height: 10px;
    right: -1px;
    top: 17px;
    background: $color_darker-grey;
    border-radius: 3px;
    transform: rotate(-45deg);
    transition: all 200ms ease;
  }

  &.active,
  &:hover {
    width: 12rem;
    margin-right: 0px;
    @include _895 {
      width: 7.5rem;
    }

    &:after {
      height: 0px;
    }
  }
  input {
    width: 100%;
    border: none;
    box-sizing: border-box;
    font-size: 15px;
    color: inherit;
    background: transparent;
    outline-width: 0px;
  }
}