@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&family=Jomolhari&display=swap');

/* zero */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  appearance: none;
  text-decoration: none;
  color: #000;
  :hover,
  :focus,
  :visited {
    text-decoration: none;
    color: #000;
  }
}

/* sizes */
$size_block-item-width: 250px;
$size_block-item-height: 330px;

$size_block-item_img-width: 250px;
$size_block-item_img-height: 235px;

$size_list-item-width: 100%;
$size_list-item-height: 80px;

$size_list-item_img-width: 100px;
$size_list-item_img-height: 100px;

/* colors */
$color_primary: #000;
$color_secondary: #fff;
$color_standart-grey: #e9e9e9;
$color_middle-grey: #cccccc;
$color_darker-grey: #424242;

$color_stars: #ffa92e;
$color_heart: #db0202;

/* fonts */
$font_title: 'Inter', sans-serif;
$font_standart: 'Jomolhari', serif;

/* mixins */
@mixin standartText($size, $color: $color_primary) {
  font-family: $font_standart;
  font-size: $size;
  font-weight: 400;
  color: $color;
}

@mixin titleText($size, $color: $color_primary) {
  font-family: $font_title;
  font-size: $size;
  font-weight: 700;
  line-height: 23px;
  color: $color;
}

@mixin upperCaseTitle($size, $color: $color_primary) {
  font-family: $font_title;
  font-size: $size;
  font-weight: 400;
  color: $color;
  line-height: 13px;
  text-transform: uppercase;
}

@mixin backgroundImagePlacing($size) {
  background-position: center;
  background-size: $size;
  background-repeat: no-repeat;
}
